<div class="container-main d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-dark bg-gradient pt-0 pb-0">
    <div class="container-fluid ps-3 pe-3">
      <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
        <a class="navbar-brand mt-2 mb-2" href="#">
          <img src="../../assets/icons/logo.svg" alt="Logo" />
        </a>
        <form [formGroup]="myGroup" class="ms-2 mt-2 mb-2">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="{{ 'SEARCH_MOVIE' | translate }}"
              formControlName="title"
              [(ngModel)]="inputSearch"
            />
            <span class="input-group-text" id="basic-addon1"
              ><img
                src="../../assets/icons/icon_magnify.svg"
                alt="{{ 'ICON_SEARCH' | translate }}"
            /></span>
          </div>
        </form>
        <div class="d-flex justify-content-end">
          <img
            src="../assets/icons/flag_fr.svg"
            class="p-1"
            [ngStyle]="{'opacity':opacityFr}"
            (click)="chooseLanguage(langFr)"
            alt="{{ 'ICON_FRANCE' | translate }}"
          />
          <img
            src="../assets/icons/flag_usa.svg"
            class="p-1"
            [ngStyle]="{'opacity':opacityUs}"
            (click)="chooseLanguage(langUs)"
            alt="{{ 'ICON_USA' | translate }}"
          />
        </div>
      </div>
    </div>
  </nav>
  <app-movies
    [movieList]="initialDatas"
    [searchMovie]="inputSearch"
  ></app-movies>
</div>
<router-outlet></router-outlet>
