<div class="modal-header">
  <h4 class="modal-title pull-left pt-2 pb-2">Editing</h4>
  <button type="button" class="p-1" (click)="bsModalRef.hide()">
    <img
      src="../../assets/icons/X_icon .svg"
      class="img-responsive mb-4 p-2"
      alt="icon close"
    />
  </button>
</div>
<form
  class="d-flex flex-column justify-content-start"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
>
  <div class="modal-body ps-5 pe-5 pt-0">
    <div class="d-flex">
      <label for="Minutes" class="col-sm-2 col-form-label">Is Adult</label>
      <div class="col-sm-10 d-flex flex-row flex align-items-center">
        <input type="radio" name="isAdult" (change)="changeIsAdult($event)" value="1" [checked]="profileForm.value.isAdult == '1' ? true : false" class="form-control me-1" />
        <span class="me-5">Yes</span>
        <input type="radio" name="isAdult" (change)="changeIsAdult($event)" value="0" [checked]="profileForm.value.isAdult == '0' ? true : false" class="form-control me-1" />
        <span>No</span>
      </div>
    </div>
    <div class="d-flex">
      <label for="Minutes" class="col-sm-2 col-form-label">Minutes</label>
      <div class="col-sm-10 div-input">
        <input
          type="text"
          id="minutes"
          class="form-control"
          formControlName="runtimeMinutes"
          [value]="profileForm.value.runtimeMinutes"
        />
      </div>
    </div>
    <div class="d-flex">
      <label for="StartYear" class="col-sm-2 col-form-label">Start Year</label>
      <div class="btn-group d-flex w-75">
        <select class="form-select" aria-label="Default select example" formControlName="startYear" [(ngModel)]="profileForm.value.startYear">
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>     
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <label for="EndYear" class="col-sm-2 col-form-label">End Year</label>
      <select class="form-select" aria-label="Default select example" formControlName="endYear" [(ngModel)]="profileForm.value.endYear">
        <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select> 
      <div *ngIf="profileForm.controls['endYear'].errors?.['min']" class="invalid-data">
        La date de fin ne peut pas être inférieur à la date de départ !!
      </div> 
    </div>
    <div class="d-flex">
      <label for="Genres" class="col-sm-2 col-form-label">Genres</label>
      <div class="col-sm-10 div-input">
        <input
          type="text"
          class="form-control"
          formControlName="genres"
          [value]="profileForm.value.genres"
        />
      </div>
    </div>
  </div>
  <div class="d-flex pt-2 pb-4 justify-content-around modal_footer">
    <button
      type="submit"
      class="btn btn-primary btn-sm"
      (click)="bsModalRef.hide()"
      [disabled]="!profileForm.valid"
    >
      OK
    </button>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="bsModalRef.hide()"
    >
      Cancel
    </button>
  </div>
</form>
