<div class="modal-header">
    <h4 class="modal-title pull-left">Editing</h4>
    <button type="button" class="p-1"(click)="bsModalRef.hide()">
      <img src="../../assets/icons/X_icon .svg" class="img-responsive" alt="icon close">
    </button>
  </div>
  <div class="modal-body">
    <ul *ngIf="list.length">
      <li *ngFor="let item of list">{{item}}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
