@import "../../sass/variables_custom";
.navbar{
    padding:0;
}

.bg-gradient{
    background-image: $gradient;
}


.card-movie{
    box-shadow: 0px 0px 11px 0 #E8E5E5;
}

.card-title{
    flex-grow: 4;
    padding-left:10px;
    flex-basis:90%;
    h3{
        font-size:18pt;
        font-weight: $font-weight-normal;
    }
    p{
        font-size:12pt;
        font-style: italic;
        font-weight: $font-weight-thin;
    }
}
.card-header{
    flex-basis:70%
    img{
        flex-grow:1;
        height:15px;
    }
}
.card-content{
    flex-grow:4;
    .card-datas{
        span:first-child{
            font-weight:$font-weight-thin;
            font-size:10pt;
            background-color:$bg-color-grey;

        }
        span:last-child{
            font-weight:$font-weight-light;
            font-size:11pt;
        }
        
    }
}
.card-picture{
    padding: 0 10px;
    background-color:$bg-color-grey;
}
.my-pagination ::ng-deep {
    display:flex;
    justify-content:center;
    align-items: center;
    nav{
        display:flex;
        ul{
            margin:1rem 0;
        }
    }
    .pagination-previous a:before,.pagination-next a:after, .ngx-pagination .disabled:before,.ngx-pagination .disabled:after {
        content:'';
    }
    .ngx-pagination{
        .pagination-next a, .pagination-previous a{
            color:black !important;
        }
        .current{
            background-color:inherit;
            color:black;
        }
        a:not([href]):not([class]), a:not([href]):not([class]):hover{
            color:$color-button;
            background-color: $bg-color-grey
        }
    }    
}
.pagination-style{
    background-color: $bg-color-grey;
}

  